#root {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  border: 2px solid gray;
  border-radius: 25px;
}

/* .card h1 {
  background-color: slategray;
} */

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.map-container {
  position: relative;
  top: 100;
  width: 25%;
  background-color: black;
}

#map {
  position: absolute;
  top: 100;
  bottom: 10;
  left: 2%;
  right: 5;
  width: 10%;
}
