
main h1 {
  text-align: center;
  color: lightslategray;
}

main h3 {
  text-align: center;
  color: darkgray;
}

main {
  margin: auto;
  width: 50%;
}


.word_slider {
  display: grid;
  grid-template-columns: 14% 1fr 1fr;
  width: 100%;
}

 button {
    background-color: lightslategray;
    color: white;
  }

.pass_table {
  width: 100%;
  margin-bottom: 40px;
}
tr {
  /* width: 100%;
  border: black solid 5px;
  margin-top: 20px;
  padding: 4px 2px; */
  background-color: ghostwhite;
}

tr.tab:nth-child(even){
  background-color: lightgray;
  border: black solid 5px;
}

td {
  display: inline-table;
  border: 1px solid black;
  margin: 2px 12px;
  padding: 4px 4px;
  background-color: whitesmoke;
}

td.pass-l {
  background-color: azure;
}
